@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">to the world of Laxmi Bhattarai!!</h3>

    <p>
        For CRUD Operation<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Click me</a>
    </p>
</div>
